@import 'unit/reset.less';
@import 'unit/global.less';
@import 'unit/function.less';
@import 'unit/mint-ui@2.2.1.css';

html{color:#5A5A5A;font-family:'Microsoft Yahei','宋体',Arial;}
body{max-width: 750px;margin: 0 auto;}
[v-cloak] {
  display: none;
}
.top_tip{
    width: 100%;height: 64/75rem;background: @c_green;
    text-align: center;color: #FFFFFF;line-height: 64/75rem;
}

//预约须知页
.page_notice{
    background:#FFFFFF;
    .title{
        color:@c_green;
        font-size: @f_40;
        text-align: center;
        line-height: 2rem;
    }
    .content{
        padding: 0 0.7rem;
        p{
            font-size: @f_30;
            color: @c_deepgray;
            line-height: 1.6;
            margin-bottom: 0.5rem;
            span.num{
                color: @c_green;
                font-size: @f_30;
            }
            span.red{
                color: @c_red;
                font-size: @f_30;
            }
        };
    }
    .agree{
        font-size: @f_24;
        color: @c_green;
        padding-left:0.5rem;
        display: inline-block;
        float: right;margin-right: 0.7rem;
        background-image: url(../images/tick_0.png);
        background-repeat: no-repeat;
        background-size: 0.5rem 0.4rem;
        background-position-y: center;
        &.active{
            background-image: url(../images/tick_1.png);
            background-repeat: no-repeat;
            background-size: 0.5rem 0.4rem;
            background-position-y: center;
        }
    }
    .ctrl{
        text-align: center;
        clear: both;
        .mint-button{
            font-size: @f_30;
        }
        .mint-button--primary{
            background-color: @c_green;
        }
    }
}

// 套餐列表页
.page_index {
    .photo_list {
        padding: 20/75rem;
        ul {
            li {
                position: relative;
                width: 332/75rem;
                height: 338/75rem;
                box-shadow: 1px 1px 10px #A9ACB1;
                margin: 10/75rem;
                display: inline-block;
                a {
                    display: block;
                    color: @c_green;
                    img {
                        width: 100%;
                        height: 254/75rem;
                        display: block;
                        margin-bottom: 0.2rem;
                    }
                    .title {
                        font-size: 36/75rem;
                        font-weight: bold;
                        line-height: 1;
                        padding-left: 0.3rem;
                    }
                    .sub_tit {
                        font-size: 24/75rem;
                        line-height: 1;
                        padding-left: 0.3rem;
                        margin-top: -2px;
                        display: block;
                    }
                    .big_tit {
                        position: absolute;
                        top: 0;
                        left: 0;
                        line-height: 254/75rem;
                        width: 100%;
                        text-align: center;
                        color: #FFFFFF;
                        opacity: 0.75;
                        font-size: 40/75rem;
                        font-weight: bold;
                    }
                    font {
                        font-size: 0.32rem;
                    }
                }
                &.bigone {
                    width: 684/75rem;
                }
            }
        }
    }
    .mint-swipe {
        height: 500/75rem;
        color: #fff;
        text-align: center;
    }

    .mint-swipe-item {
        line-height: 500/75rem;
    }

    .slide {
        background-color: #0089dc;
        color: #fff;
        img {
            width: 100%;
            height: 100%;
        }
    }
}


.page_orderlist{
    background-color: @c_bg;
    .t-pro{
        color: @c_green;
    }
    .t-red{
        color: @c_red;
    }
    .mint-navbar{
        margin-bottom: 0.2rem;
        .mint-tab-item{
            color: #333;
            &.is-selected{
                color: @c_green;
                border-bottom: 3px solid @c_green;
            }
            .mint-tab-item-label{
                font-size: @f_30;   
            }
        }
    
    }
    .page-loadmore {
      .page-loadmore-listitem {
        background: #FFFFFF;
        border-bottom: solid 1px #eee;
        margin-bottom: 0.2rem;
        div{padding:20/75rem 34/75rem;}
        font-size:@f_24;
        .head{
            border-bottom: 1px solid #F1F1F1;
            font{float: right;}
        }
        .cont{
            border-bottom: 1px solid #F1F1F1;
            line-height: 2;
            a{
                text-decoration: underline;
            }
        }
        .foot{
            text-align: right;
            font{
                font-size: @f_30;
            }
            button{
                border: none;
                background: @c_green;
                color: #FFFFFF;
                width: 2rem;height: 0.7rem;
                border-radius: 3px;
                margin-left: 0.3rem;
                outline: none;
            }
        }
      }
      .page-loadmore-wrapper {
        overflow: scroll;
      }
      .mint-spinner {
        display: inline-block;
        vertical-align: middle;
      }
    }
    
    .mint-loadmore-bottom {
        span {
          display: inline-block;
          transition: .2s linear;
          vertical-align: middle;
          &.is-rotate {
            transform: rotate(180deg);
          }
        }
    }
}

/**产品详情**/
.page_detail{
    background-color: @c_bg;
    .mint-swipe {
        height: 500/75rem;
        color: #fff;
        text-align: center;
    }

    .mint-swipe-item {
        line-height: 500/75rem;
    }

    .slide {
        background-color: #0089dc;
        color: #fff;
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .content{
        padding: 34/75rem;
        .title{
            color: @c_green;
            font-size: @f_50;
            text-transform:uppercase;
            span{
                font-size: @f_30;
            }
        }
        .money{
            font-size: @f_30;line-height: 2;
            border-bottom: 1px solid #929292;
            span{
                font-size: @f_36;
                font-weight: bold;
            }
        }
        .info{
            line-height: 2;
            margin: 0.3rem 0;
        }
        .m-tit{
            font-size: @f_36;
            color: @c_green;padding-top: 0.1rem;
            span{
                font-size: @f_24;
                &.what{
                    float: right;padding-top: 0.1rem;
                    b{
                        display: inline-block;
                        background: @c_green;color:#FFFFFF;text-align: center;
                        border-radius: 50%;width: 0.4rem;height: 0.4rem;
                        margin-right:3px;
                    }
                }
            }
        }
        .package{
            font-size: @f_36;
            color: @c_green;padding-top: 0.4rem;
            overflow: hidden;
            li{
                float: left;
                width: 150/75rem;height: 60/75rem;
                text-align: center;line-height: 60/75rem;
                border: 1px solid @c_green;
                border-radius:3px;margin-right: 0.4rem;
                &.active{
                    color: #FFFFFF;
                    background-color: @c_green;
                }
            }
        }
    }
    .ctrl{
        clear: both;
        font-size: @f_30;
        margin-top: 1.2rem;
        .pre{
            color: @c_green;
            background-color: #FFFFFF;
            float: left;
            height: 90/75rem;line-height: 90/75rem;
            width: 190/75rem;text-align: center;
            box-shadow: 1px 1px 10px #A9ACB1;
            border-top-right-radius:3px;
            border-bottom-right-radius:3px;
        }
        .next{
            color: #FFFFFF;
            background-color: @c_green;
            float: right;
            height: 90/75rem;line-height: 90/75rem;
            width: 330/75rem;text-align: center;
            box-shadow: 1px 1px 10px #A9ACB1;
            border-top-left-radius:3px;
            border-bottom-left-radius:3px;
            font{
                font-size: 20/75rem;
            }
        }
    }
    .pop{
        position: fixed;width: 100%;height: 100%;
        left: 0;top: 0;background: rgba(0,0,0,0.6);
        .cont{
            position: absolute;left: 34/75rem;top: 34/75rem;
            width: 682/75rem;background: #FFFFFF;
            padding-bottom: 1rem;
            .close{
                margin-top: 0.5rem;margin-left: 0.5rem;
                img{
                    width: 40/75rem;
                }
            }
            table{
                width: 80%;margin-left: 0.5rem;
                td{
                    text-align:center;width: 50%;font-size:@f_36;color:@c_green;
                    padding: 0.4rem 0;
                }
                img{
                    width: 240/75rem;
                }
            }
        }
    }
}

/** 选择套餐页 **/
.page_package{
    background: @c_bg;
    
    .list{
        padding: 34/75rem;
        li{
            background: #FFFFFF;
            position: relative;margin-top: 66/75rem;
            height: 255/75rem;padding-left: 4.2rem;
            border-radius: 2px;
            .img{
                position: absolute;
                width: 260/75rem;height: 260/75rem;
                left: 20/75rem;top:-32/75rem;border: 2px solid #ffffff;
                box-shadow: 1px 1px 10px #A9ACB1;
                .avatar{width: 100%;height: 100%;}
                .cover{
                    position: absolute;display: none;
                    left: 0;top: 0;
                    width: 100%;height: 100%;background: rgba(0,0,0,0.5);
                    text-align: center;line-height: 260/75rem;
                    img{
                        display: inline;vertical-align: middle;
                        width: 1.5rem;
                    }
                }
            }
            .tit{
                font-size: @f_32;font-weight: bold;
                padding-top: 0.5rem;
            }
            .m-tit{
                font-size: 20/75rem;    
            }
            .price{
                font-size: @f_32;
                padding-top: 0.4rem;
                color: #626262;
            }
            .d-price{
                color: #626262;
            }
            .add{
                width: 0.6rem;line-height: 0.6rem;height: 0.6rem;
                position: absolute;background-color:#c5c5c5;text-align: center;
                right: 0.5rem;top: 0.5rem;font-weight: bold;border-radius: 50%;
                img{
                    width: 80%;height: 80%;vertical-align: middle;
                }
            }
            .reduce_money{
                position: absolute;
                width: 2.2rem;height: 0.8zrem;line-height: 48/75rem;text-align: center;
                right: 0;top: 2.4rem;color: #FFFFFF;background-color: @c_green;
                border-bottom-left-radius:0.4rem;border-top-left-radius:0.4rem;
                font-size: @f_24;
            }
            
            &.active{
                box-shadow: 1px 1px 10px #A9ACB1;
                .add{
                    background-color: @c_green;
                }
                .img .cover{
                    display: block;
                }
            }
        }
    }
    .ctrl{
        clear: both;
        font-size: @f_30;
        margin-top: 0.8rem;
        .pre{
            color: @c_green;
            background-color: #FFFFFF;
            float: left;
            height: 90/75rem;line-height: 90/75rem;
            width: 190/75rem;text-align: center;
            box-shadow: 1px 1px 10px #A9ACB1;
            border-top-right-radius:3px;
            border-bottom-right-radius:3px;
        }
        .next{
            color: #FFFFFF;
            background-color: @c_green;
            float: right;
            height: 90/75rem;line-height: 90/75rem;
            width: 330/75rem;text-align: center;
            box-shadow: 1px 1px 10px #A9ACB1;
            border-top-left-radius:3px;
            border-bottom-left-radius:3px;
            font{
                font-size: 20/75rem;
            }
        }
    }
}

/** 订单详情 **/
.page_orderdetail{
    background-color: @c_bg;
    #app{
        font-size: 0.4rem;
    }
    .f_r{
        float: right;
    }
    .f_30{
        font-size: @f_30;
    }
    .f_red{
        color: @c_red;
    }
    .f_main{
        color: @c_green;
    }
    .line{
        width: 100%;height: 1px;
    }
    .cell{
        height: 1rem;line-height: 1rem;
        padding: 0 0.5rem;background: #FFFFFF;
        .c-left{
            display: inline-block;
            width: 1.7rem;text-align: right;
        }
    }
    .fix_bottom{
        position: fixed;display: block;
        bottom: 0;background: #FFFFFF;width: 100%;
        .btn{
            width: 2rem;height: 0.8rem;text-align: center;
            line-height: 0.8rem;border: 1px solid @c_green;
            border-radius: 3px;display: inline-block;
            color: @c_green;margin:0.3rem 34/75rem;
            &.spe{
                background: @c_green;
                color: #FFFFFF;
            }
        }
    }
}

/*日期选择页**/
.page_date{
    h1{text-align: center;font-size: 0.5rem;font-weight: bold;}
    .selt-m{
        text-align: center;margin-top: 1rem;margin-bottom: 0.3rem;
        span{
            color: #fff;
        background: #4CAF50;
        padding: 2px 4px;
        }
        .month{
            font-size: 0.4rem;padding: 0 0.3rem;color: #333;
        }
    }
    .title{
        overflow: hidden;
        li{
            width:1.4rem;float: left;text-align: center;font-size: 0.4rem;
            font-weight: bold;height: 1.4rem;line-height: 1.4rem;
            color: #666;
        }
    }
    .content{
        overflow: hidden;
        .date1{
            color: #333333;
            width:1rem;height: 1rem;line-height: 1rem;margin: 0.2rem;
            float: left;text-align: center;font-size: 0.4rem;
            border-radius: 0.5rem;overflow: hidden;
            &.today{
                box-shadow: 1px 1px 3px;
            }
            &.active{
                background: #ff8e86;color: #FFFFFF;
            }
        }
    }
    
    .timelist{
        margin-top: 1rem;margin-bottom: 1rem;overflow: hidden;
        li{
            float: left;
            width: 25%;
            text-align: center;
            height: 120/75rem;
            line-height: 120/75rem;
            font-size: @f_30;
            &.active{
                background: #ff8e86;color: #FFFFFF;
            }
            &.unable{
                color: #B9B9B9;pointer-events: none;
            }
        }
    }
    
    .ctrl{
        clear: both;
        font-size: @f_30;
        margin-top: 0.8rem;
        .pre{
            color: @c_green;
            background-color: #FFFFFF;
            float: left;
            height: 90/75rem;line-height: 90/75rem;
            width: 190/75rem;text-align: center;
            box-shadow: 1px 1px 10px #A9ACB1;
            border-top-right-radius:3px;
            border-bottom-right-radius:3px;
        }
        .next{
            color: #FFFFFF;
            background-color: @c_green;
            float: right;
            height: 90/75rem;line-height: 90/75rem;
            width: 330/75rem;text-align: center;
            box-shadow: 1px 1px 10px #A9ACB1;
            border-top-left-radius:3px;
            border-bottom-left-radius:3px;
            font{
                font-size: 20/75rem;
            }
        }
    }
}

