<!DOCTYPE html>
<html>
	<head>
		<title>日期选择</title>
		<link rel="import" href="./modules/_template_mate.html?__inline">
	</head>
	<body class="page_date">
    <div id="app">
    	<div class="part1" v-show="!timeShow">
		    <h1>选择日期</h1>
		    <div class="selt-m">
			    <span v-on:click="viewpre">上一月</span>
			    <font class="month">{{year}}年{{month}}月</font>
			    <span v-on:click="viewnext">下一月</span>
		    </div>
		    <div class="title">
		    	<li>周一</li>
		    	<li>周二</li>
		    	<li>周三</li>
		    	<li>周四</li>
		    	<li>周五</li>
		    	<li>周六</li>
		    	<li>周日</li>
		    </div>
			<div id="content" class="content">
				<a class="date1" v-for="item in days" v-bind:class="{today:item==day && istoday}" v-on:click="setday(item)">{{item}}</a>
			</div>
			<div class="ctrl">
		  		<div class="pre" @click="goBack">返回</div>
		  	</div>
	  	</div>
	  	<div class="part2" v-show="timeShow">
	  		<h1>选择时间段</h1>
		    <div class="timelist">
		    	<ul>
		    		<li v-for="item in list" v-bind:data-id="item.id" v-bind:class="{unable:item.choose==0}">
		    			{{item.time}}
		    		</li>
		    	</ul>
		    </div>
		    
		    <div class="ctrl">
		  		<div class="pre" @click="goPart1">返回</div>
		  		<div class="next" @click="saveTime">下一步</div>
		  	</div>
	  	</div>
	</div>
    <link rel="import" href="./modules/_template_script.html?__inline">
    <script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				msg: 'Welcome to Your Vue.js App',
				year: new Date().getFullYear(),
				month: new Date().getMonth() + 1,
				day: new Date().getDate(), //今天
				istoday: true,
				days: [],
				orderId:0,
				list:[],
				bookDate:0,
				bookTime:0,
				timeShow:false
			},
			methods: {
				getTime: function(year, month, day) {
					var myDate = new Date(year, month - 1, day);
					return myDate;
				},
				days_in_month: function(year, month) {
					var y = year;
					var m = month;
					return 32 - new Date(y, m - 1, 32).getDate();
				},
				view: function(year, month) {
					var w = this.getTime(year, month, 1).getDay() - 1;
					var num = this.days_in_month(year, month);
					var index = 1;
					var data = new Array();
					for(var d = 0; d < num + w; d++) {
						if(d < w) {
							data[d] = '';
						} else {
							data[d] = index;
							index++;
						}
					}
					this.days = data;
				},
				checkday: function(year, month) {
					if(year == new Date().getFullYear() && month == new Date().getMonth() + 1) {
						return true;
					} else {
						return false;
					}
				},
				viewnext: function() {
					this.month++;
					if(this.month == 13) {
						this.month = 1;
						this.year++;
					}
					this.istoday = this.checkday(this.year, this.month);
					this.view(this.year, this.month);
					$(".date1").removeClass("active");
				},
				viewpre: function() {
					this.month--;
					if(this.month == 0) {
						this.month = 12;
						this.year--;
					}
					this.istoday = this.checkday(this.year, this.month);
					this.view(this.year, this.month);
					$(".date1").removeClass("active");
				},
				setday: function(day) {
					var y=this.year;
					var m=this.month;
					var d=day;
					if(m<10){m="0"+m}
					if(d<=10){d="0"+d}
					var str = y+m+d;
					this.bookDate=str;
					
					this.$indicator.open();
					var _this=this;
					$.post(API_getBookTime,{book_date:_this.bookDate},function(respond){
						//console.log(respond)
						_this.$indicator.close();
						if(respond.code==1){
							_this.list=respond.list;
							_this.timeShow=true;
						}else{
							_this.$toast({
							  message: respond.msg,
							  duration: 2000
							});
						}
					});
				},
				goBack:function(){
			  		window.history.go(-1);
			  	},
			  	goPart1:function(){
			  		this.timeShow=false;
			  		$(".timelist li").removeClass("active");
			  	},
			  	saveTime:function(){
			  		this.$indicator.open();
					var _this=this;
					var saveData={
						order_id:this.orderId,
						book_date:this.bookDate,
						book_time:this.bookTime
					}
			  		$.post(API_saveBookTime,saveData,function(respond){
			  			console.log(respond)
			  			_this.$indicator.close();
						if(respond.code==1){
							_this.$indicator.close();
							location.href="orderdetail.html?oid="+_this.orderId;
						}else{
							_this.$toast({
							  message: respond.msg,
							  duration: 2000
							});
						}
			  	});
			  	}
			},
			mounted: function() {
				this.view(this.year, this.month);
				this.orderId=GetQueryString("oid");
				var _this=this;
				$(".timelist").on("click","li",function(){
					$(this).addClass("active").siblings().removeClass("active");
					_this.bookTime=$(this).data("id");
				});
				
				$(".content").on("click",".date1",function(){
					$(this).addClass("active").siblings().removeClass("active");
				});
			}
		});
    </script>
	</body>
</html>