<!DOCTYPE html>
<html>
	<head>
		<title>产品详情</title>
		<link rel="import" href="./modules/_template_mate.html?__inline">
	</head>
	<body class="page_detail">
    <div id="app" v-cloak>
	    <mt-swipe :auto="0">
	      <mt-swipe-item class="slide" v-for="item in product.images"><img v-bind:src="item" alt="图片丢失"/></mt-swipe-item>
	    </mt-swipe>
	    
	    <div class="content">
		  	<div class="title">{{product.title}}<span>{{product.title_en}}</span></div>
		  	<div class="money"><span>{{product.money}}</span>/套</div>
		  	<p class="info" v-html="product.content"></p>
		  	<div v-show="product.is_four==1 || product.is_nine==1 || product.is_prop==1">
			  	<div class="m-tit">
			  		升级体验<span>（非必选）</span>
			  		<span class="what" v-on:click="is_pop=true"><b>?</b>什么是升级体验</span>
			  	</div>
			  	<div class="package">
			  		<li v-bind:class="{active:choose_four}" v-on:click="setFour" v-if="product.is_four==1">四宫格</li>
			  		<li v-bind:class="{active:choose_nine}" v-on:click="setNine" v-if="product.is_nine==1">九宫格</li>
			  		<li v-bind:class="{active:choose_prop}" v-on:click="setProp" v-if="product.is_prop==1">加道具</li>
			  	</div>
			  	<div class="tip">
			  		说明：亲子照与couple2人以上没有4宫格、9宫格。
			  	</div>
		  	</div>
		  	<div class="emptyDiv"></div>
		</div>
		<div class="ctrl">
	  		<div class="pre" @click="goBack">返回</div>
	  		<div class="next" @click="updateOrder" v-if="oid"><font>共计：</font>￥{{total}}&nbsp;下一步</div>
	  		<div class="next" @click="saveOrder" v-else><font>共计：</font>￥{{total}}&nbsp;下一步</div>
	  	</div>
		<div class="pop" v-show="is_pop" v-cloak>
			<div class="cont">
				<div class="close" v-on:click="is_pop=false"><img src="images/close.png"/></div>
				<table border="0">
					<tr v-if="product.is_four==1"><td>四宫格</td><td><img src="/Public/home/images/case_1.jpg"/></td></tr>
					<tr v-if="product.is_nine==1"><td>九宫格</td><td><img src="/Public/home/images/case_2.jpg"/></td></tr>
					<tr v-if="product.is_prop==1"><td>加道具</td><td><img src="/Public/home/images/case_3.jpg"/></td></tr>
				</table>
			</div>			
		</div>
	</div>
    <link rel="import" href="./modules/_template_script.html?__inline">
    <script type="text/javascript">
    	var app = new Vue({
		  el: '#app',
		  data: {
		  	pid:0,
		  	oid:0,
		  	total:"0",	//总价
		    choose_four:0,
		    choose_nine:0,
		    choose_prop:0,
		    is_pop:false,
		    product:[]
		  },
		  methods:{
		  	setFour:function(){
		  		this.choose_four==0?this.choose_four=1:this.choose_four=0;
		  		if(this.choose_four){
		  			this.choose_four=1;
		  			this.total=parseFloat(this.total)+parseFloat(this.product.four_money);
		  		}else{
		  			this.choose_four=0;
		  			this.total=parseFloat(this.total)-parseFloat(this.product.four_money);
		  		}
		  	},
		  	setNine:function(){
		  		this.choose_nine==0?this.choose_nine=1:this.choose_nine=0;
		  		if(this.choose_nine){
		  			this.choose_nine=1;
		  			this.total=parseFloat(this.total)+parseFloat(this.product.nine_money);
		  		}else{
		  			this.choose_nine=0;
		  			this.total=parseFloat(this.total)-parseFloat(this.product.nine_money);
		  		}
		  	},
		  	setProp:function(){
		  		this.choose_prop==0?this.choose_prop=1:this.choose_prop=0;
		  		if(this.choose_prop){
		  			this.choose_prop=1;
		  			this.total=parseFloat(this.total)+parseFloat(this.product.prop_money);
		  		}else{
		  			this.choose_prop=0;
		  			this.total=parseFloat(this.total)-parseFloat(this.product.prop_money);
		  		}
		  	},
		  	goBack:function(){
		  		location.href="index.html";
		  	},
		  	saveOrder:function(){
		  		var postData={
		  			product_id:this.pid,
		  			is_four:this.choose_four,
		  			is_nine:this.choose_nine,
		  			is_prop:this.choose_prop
		  		}
		  		var _this=this;
				$.post(API_saveOrder,postData,function(respond){
					if(respond.code==1){
						location.href="package.html?pid="+_this.pid+"&oid="+respond.order_id;
						//console.log(respond);
					}else{
						_this.$toast({
						  message: respond.msg,
						  duration: 2000
						});
					}
				});
		  	},
		  	updateOrder:function(){
		  		var postData={
		  			order_id:this.oid,
		  			is_four:this.choose_four,
		  			is_nine:this.choose_nine,
		  			is_prop:this.choose_prop
		  		}
		  		var _this=this;
				$.post(API_updateOrder,postData,function(respond){
					if(respond.code==1){
						location.href="package.html?pid="+_this.pid+"&oid="+respond.order_id;
						//console.log(respond);
					}else{
						_this.$toast({
						  message: respond.msg,
						  duration: 2000
						});
					}
				});
		  	}
		  },
		  mounted:function(){
		  	var pid=GetQueryString("pid");
		  	var oid=GetQueryString("oid");
		  	this.pid=pid;
		  	this.oid=oid;
		  	var _this=this;
		  	
		  	if(oid){
		  		var _this=this;
			  	$.post(API_getOrderById,{order_id:_this.oid},function(respond){
			  		if(respond.code==1){
			  			_this.choose_four=respond.order.is_four=="0"?0:1;
			  			_this.choose_nine=respond.order.is_nine=="0"?0:1;
			  			_this.choose_prop=respond.order.is_prop=="0"?0:1;
			  			_this.total=respond.order.all_money;
			  		}else{
			  			_this.$toast({
						  message: respond.msg,
						  duration: 2000
						});
			  		}
			  	});
		  	}
		  	
			$.get(API_getProductById+"/product_id/"+pid,function(respond){
				if(respond.code==1){
		  			_this.product=respond.product;
		  			if(!oid){
		  				_this.total=respond.product.money;
		  			}
		  		}else{
		  			_this.$toast({
					  message: respond.msg,
					  duration: 2000
					});
		  		}
			})
		  }
		});
    </script>
	</body>
</html>