<!DOCTYPE html>
<html>
	<head>
		<title>首页</title>
		<link rel="import" href="./modules/_template_mate.html?__inline">
	</head>
	<body class="page_index">
    <div id="app">
	    <mt-swipe :auto="0">
	      <mt-swipe-item class="slide" v-for='item in banners'><a v-bind:href="item.link"><img v-bind:src="item.cover_img"/></a></mt-swipe-item>
	    </mt-swipe>
	    
	    <div class="photo_list">
		  	<ul>
		  		<li v-for="(item,index) in products" v-bind:class="{ bigone: index==6 }">
		  			<a v-bind:href="'./detail.html?pid='+item.id">
		  				<img v-bind:src="item.cover_img"/>
		  				<span class="title">{{item.title}}</span><font v-if="index==6">(电话提前预约)</font>
		  				<span class="sub_tit">{{item.title_en}}</span>
		  				<!--<span class="big_tit">{{item.title_en}}</span>-->
		  			</a>
		  		</li>
		  	</ul>
		</div>
	</div>
    <link rel="import" href="./modules/_template_script.html?__inline">
    <script type="text/javascript">
    	var app = new Vue({
		  el: '#app',
		  data: {
		    banners:[],
		    products:[]
		  },
		  methods:{
		  	goDetail:function(id){
		  		window.location.href="./detail.html/pid/"+id;
		  	}
		  },
		  mounted:function(){
		  	var _this=this;
		  	/**获取banner**/
			$.get(API_getBanners,function(respond){
				if(respond.code==1){
		  			_this.banners=respond.list;
		  		}else{
		  			_this.$toast({
					  message: respond.msg,
					  duration: 2000
					});
		  		}
			})
			
			/**获取展示产品**/
			$.get(API_getProducts,function(respond){
				if(respond.code==1){
		  			_this.products=respond.list;
		  		}else{
		  			_this.$toast({
					  message: respond.msg,
					  duration: 2000
					});
		  		}
			})
		  }
		});
    </script>
	</body>
</html>