<!DOCTYPE html>
<html>
	<head>
		<title>订单详情</title>
		<link rel="import" href="./modules/_template_mate.html?__inline">
		<!--<link rel="stylesheet" type="text/css" href="css/unit/zepto.mdatetimer.css"/>-->
		<link rel="stylesheet" type="text/css" href="/Public/home/css/unit/zepto.mdatetimer.css"/>
	</head>
	<body class="page_orderdetail">
		
    <div id="app" v-cloak>
    	<div class="top_tip" v-if="expireTime>0">支付剩余时间：<span id="cutdowntime" v-bind:data-t="expireTime">waiting...</span></div>
    	<div class="top_tip" v-if="expireTime<=0">付款超时 订单失效</div>
    	<div class="cell">
    		<span>拍摄地址：</span><span>广州市天河店</span>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span>拍摄时间：</span><span>{{orderPath.book_date}} {{orderPath.book_time}}</span>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span>拍摄内容：</span>
    	</div>
    	<div class="cell">
    		<span class="f_main">{{orderPath.product_info.title}}</span><span class="f_r f_red">￥{{orderPath.product_info.money}}</span>
    	</div>
    	<div class="cell" v-if="orderPath.is_four==1">
    		<span class="f_main">四宫格</span><span class="f_r f_red">￥{{orderPath.four_money}}</span>
    	</div>
    	<div class="cell" v-if="orderPath.is_nine==1">
    		<span class="f_main">九宫格</span><span class="f_r f_red">￥{{orderPath.nine_money}}</span>
    	</div>
    	<div class="cell" v-if="orderPath.is_prop==1">
    		<span class="f_main">加道具</span><span class="f_r f_red">￥{{orderPath.prop_money}}</span>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span>附加套餐：</span>
    	</div>
    	<div class="cell" v-for="item in packageList">
    		<span class="f_main">{{item.package_info.title}}</span><span class="f_r f_red">￥{{item.package_info.money}}</span>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span>订单金额</span><span class="f_r f_red">￥{{orderPath.order_money}}</span>
    	</div>
    	<div class="cell">
    		<s class="f_r">￥{{orderPath.all_money}}</s>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span class="f_main">预付定金</span><span class="f_r f_red">￥{{orderPath.book_money}}</span>
    	</div>
    	<div class="cell" style="margin-top:0.2rem;">
    		<span class="c-left"><b class="f_red">*</b>姓名：</span><span><input type="text" v-bind:value="orderPath.user_name" id="name" placeholder="请输入姓名"/></span>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span class="c-left">生日：</span><input type="text" id="picktime" value="" placeholder="选填" readonly="readonly">
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span class="c-left">性别：</span>
    		<label><input name="sex" type="radio" value="1" />男 </label> 
			<label><input name="sex" type="radio" value="2" />女 </label> 
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span class="c-left"><b class="f_red">*</b>手机：</span><span><input type="text" id="telephone" v-bind:value="orderPath.user_telephone" placeholder="请输入手机号码"/></span>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span class="c-left">邮箱：</span><input type="text" id="email" v-bind:value="orderPath.user_email" placeholder="选填"/>
    	</div>
    	<div class="imgcell" style="margin-top:0.2rem;" v-show="orderPath.thumb_photos!=null">
    		<span>图片下载：</span>
    		<ul class="imgs">
    			<li v-for="(item,index) in orderPath.thumb_photos" @click="popImg(index)"><img v-bind:src="item"/></li>
    		</ul>
    	</div>
    	<div class="what" v-on:click="{is_pop=true}" style="margin-bottom: 2rem;"><b>?</b><span>退款规则</span></div>
    	<div class="fix_bottom">
    		<div class="btn" @click="goBack">返回</div>
    		<div class="f_r">定金总计：<span class="f_red f_30">￥{{orderPath.book_money}}</span><div class="btn spe" @click="toPay">去付款</div></div>
    	</div>
    	
    	<div class="pop" v-show="is_pop" v-cloak>
			<div class="cont">
				<div class="close" v-on:click="{is_pop=false}"><img src="images/close.png"/></div>
				<div class="tit f-40">退款规则</div>
				<p>距拍摄时间<span class="f-40 c-green">72</span>小时以上取消订单，<br /> 退<span class="f-40 c-red">99%</span>订金。</p>
				<p>距拍摄时间<span class="f-40 c-green">48</span>至<span class="f-40 c-green">72</span>小时取消订单，<br /> 退<span class="f-40 c-red">50%</span>订金。</p>
				<p>距拍摄时间不足<span class="f-40 c-green">48</span>小时取消订单，<br /> <span class="c-red">不退订金。</span></p>
				<p>如未按照预定时间到店，<br /> 订单则视为放弃，<span class="c-red">订金不可退还。</span></p>
			</div>
		</div>
		
		<div class="img_pop" v-bind:class="{show:show_img}">
			<div class="cont">
				<div class="close" v-on:click="{show_img=false}"><img src="images/close.png"/></div>
				<div class="tit">长按保存图片到手机</div>
				<img v-bind:src="bigImg" alt="大图" class="big_img"/>
			</div>
		</div>
	</div>
	
    <link rel="import" href="./modules/_template_script.html?__inline">
    <!--<script src="lib/zepto.mdatetimer.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="/Public/home/lib/zepto.mdatetimer.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    	var app = new Vue({
		  	el: '#app',
			data: {
				is_pop:false,
				show_img:false,
				bigImg:'images/loading.jpg',
				orderId: 0,
				orderPath: [],
				packageList: [],
				expireTime:0,
				_p:0			//支付参数
			},
			methods: {
				goBack: function() {
					window.history.go(-1);
				},
				cutDownTime:function(){
					var _this=this;
		    		setInterval(function(){
		    			var n=parseInt($("#cutdowntime").data("t"));
		    			n--;
		    			$("#cutdowntime").data("t",n);
		    			var showtime=_this.toTime(n);
		    			$("#cutdowntime").text(showtime);
		    		},1000)
		    	},
				toPay:function(){
					var _this=this;
					_this.$indicator.open();
					/**保存用户信息**/
					var saveData={
						order_id:_this.orderId,
						name:$("#name").val(),
						sex:$("input[name='sex']:checked").val(),
						birthday:$("#picktime").val(),
						telephone:$("#telephone").val(),
						email:$("#email").val()
					}
					$.post(API_saveUserInfo,saveData,function(respond){
						_this.$indicator.close();
						if(respond.code==1){
							var goUrl="{:U('Home/Index/pay','','')}/p/"+_this._p;
							location.href=goUrl;
				  		}else{
				  			_this.$toast({
							  message: respond.msg,
							  duration: 2000
							});
				  		}
					})
				},
				toTime:function(time){
		    		var h=parseInt(time/3600);
		    		if(h<10){h="0"+h}
					var m=parseInt((time-h*3600)/60);
					if(m<10){m="0"+m}
					var s=parseInt(time-h*3600)%60;
					if(s<10){s="0"+s}
					return h+":"+m+":"+s;
		    	},
		    	popImg:function(index){
		    		this.show_img=true;
		    		this.bigImg=this.orderPath.photos[index];
		    	}
			},
			filters:{
		    },
			mounted: function() {
				this.orderId = GetQueryString("oid");
			  	var _this=this;
			  	$.post(API_getOrderById,{order_id:_this.orderId},function(respond){
			  		//console.log(respond);
			  		if(respond.code==1){
			  			_this.orderPath=respond.order;
			  			_this.packageList=respond.package_list;
			  			_this.expireTime=respond.order.expire_time;
			  			_this._p=respond.order.p;
			  			_this.cutDownTime();//开始倒计时
			  		}else{
			  			_this.$toast({
						  message: respond.msg,
						  duration: 2000
						});
			  		}
			  	});
			  	
			  	setTimeout(function(){
			  		var setYears=[];
			  		for(i=1950;i<=2017;i++){
			  			setYears.push(i);
			  		}
			  		$('#picktime').mdatetimer({
						mode : 1, //时间选择器模式：1：年月日，2：年月日时分（24小时），3：年月日时分（12小时），4：年月日时分秒。默认：1
						format : 2, //时间格式化方式：1：2015年06月10日 17时30分46秒，2：2015-05-10  17:30:46。默认：2
						years : setYears, //年份数组
						nowbtn : true, //是否显示现在按钮
						onOk : function(){},
						onCancel : function(){}
					});	
			  	},1000);
		  	}
		});
		
    </script>
	</body>
</html>