<!DOCTYPE html>
<html>
	<head>
		<title>订单详情</title>
		<link rel="import" href="./modules/_template_mate.html?__inline">
		<!--<link rel="stylesheet" type="text/css" href="css/unit/zepto.mdatetimer.css"/>-->
		<link rel="stylesheet" type="text/css" href="/Public/home/css/unit/zepto.mdatetimer.css"/>
	</head>
	<body class="page_orderdetail">
		
    <div id="app" v-cloak>
    	<div v-show="orderPath.status<1">
    	<div class="top_tip" v-if="expireTime>0">支付剩余时间：<span id="cutdowntime" v-bind:data-t="expireTime">waiting...</span></div>
    	<div class="top_tip" v-if="expireTime<=0">付款超时 订单已关闭</div>
    	</div>
    	<div class="cell">
    		<span>拍摄地址：</span><span>广州市天河店</span>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span>拍摄时间：</span><span>{{orderPath.book_date}} {{orderPath.book_time}}</span><a v-if="orderPath.status==0" v-bind:href="'date.html?oid='+orderId">重新选择</a>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span>拍摄内容：</span><a v-if="orderPath.status==0" v-bind:href="'detail.html?pid='+orderPath.product_id+'&oid='+orderPath.id">重新选择</a>
    	</div>
    	<div class="cell" v-if="orderPath.product_info">
    		<span class="f_main">{{orderPath.product_info.title}}</span><span class="f_r f_red">￥{{orderPath.product_info.money}}</span>
    	</div>
    	<div class="cell" v-if="orderPath.is_four==1">
    		<span class="f_main">四宫格</span><span class="f_r f_red">￥{{orderPath.four_money}}</span>
    	</div>
    	<div class="cell" v-if="orderPath.is_nine==1">
    		<span class="f_main">九宫格</span><span class="f_r f_red">￥{{orderPath.nine_money}}</span>
    	</div>
    	<div class="cell" v-if="orderPath.is_prop==1">
    		<span class="f_main">加道具</span><span class="f_r f_red">￥{{orderPath.prop_money}}</span>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span>附加套餐：</span>
    	</div>
    	<div class="cell" v-for="item in packageList">
    		<span class="f_main">{{item.package_info.title}}</span><span class="f_r f_red">￥{{item.package_info.money}}</span>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span>订单金额</span><span class="f_r f_red">￥{{orderPath.order_money}}</span>
    	</div>
    	<div class="cell">
    		<s class="f_r">￥{{orderPath.all_money}}</s>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span class="f_main">预付定金</span><span class="f_r f_red">￥{{orderPath.book_money}}</span>
    	</div>
    	<div class="cell" style="margin-top:0.2rem;">
    		<span class="c-left"><b class="f_red">*</b>姓名：</span><span><input type="text" v-model="user_name" id="name" placeholder="请输入姓名"/></span>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span class="c-left">生日：</span><input type="text" @click="open('picker1')" v-model="birthday" placeholder="选填" readonly="readonly">
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span class="c-left">性别：</span>
    		<label><input name="sex" type="radio" value="1" />男 </label> 
			<label><input name="sex" type="radio" value="2" />女 </label> 
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span class="c-left"><b class="f_red">*</b>手机：</span><span><input type="text" id="telephone" v-model="user_telephone" placeholder="请输入手机号码"/></span>
    	</div>
    	<div class="line"></div>
    	<div class="cell">
    		<span class="c-left">邮箱：</span><input type="text" id="email" v-model="user_email" placeholder="选填"/>
    	</div>
    	<div class="imgcell" style="margin-top:0.2rem;" v-show="orderPath.thumb_photos!=null">
    		<span>图片下载：</span>
    		<ul class="imgs">
    			<li v-for="(item,index) in orderPath.thumb_photos" @click="popImg(index)"><img v-bind:src="item"/></li>
    		</ul>
    	</div>
    	<div class="what" v-on:click="is_pop=true" style="margin-bottom: 2rem;"><b>?</b><span>退款规则</span></div>
    	<div class="fix_bottom" v-if="orderPath.status==0">
    		<div class="btn" @click="goBack">返回</div>
    		<div class="f_r">定金总计：<span class="f_red f_30">￥{{orderPath.book_money}}</span>
    		<div class="btn spe" @click="toPay">去付款</div></div>
    	</div>
    	<div class="fix_bottom" v-if="orderPath.status==1">
    		<div class="btn" @click="goBack">返回</div>
    		<div class="f_r">已付定金：<span class="f_red f_30">￥{{orderPath.book_money}}</span>
    		<div class="btn spe" @click="refund" v-bind:class="{gray:orderPath.refund_flag==0}">申请退款</div></div>
    	</div>
    	<div class="fix_bottom" v-if="orderPath.status==-1">
    		<div class="btn" @click="goBack">返回</div>
    	</div>
    	<div class="pop" v-show="is_pop" v-cloak>
			<div class="cont">
				<div class="close" v-on:click="is_pop=false"><img src="images/close.png"/></div>
				<div class="tit f-40">退款规则</div>
				<p>距拍摄时间<span class="f-40 c-green">72</span>小时以上取消订单，<br /> 退<span class="f-40 c-red">99%</span>订金。</p>
				<p>距拍摄时间<span class="f-40 c-green">48</span>至<span class="f-40 c-green">72</span>小时取消订单，<br /> 退<span class="f-40 c-red">50%</span>订金。</p>
				<p>距拍摄时间不足<span class="f-40 c-green">48</span>小时取消订单，<br /> <span class="c-red">不退订金。</span></p>
				<p>如未按照预定时间到店，<br /> 订单则视为放弃，<span class="c-red">订金不可退还。</span></p>
			</div>
		</div>
		
		<div class="img_pop" v-bind:class="{show:show_img}">
			<div class="cont">
				<div class="close" v-on:click="show_img=false"><img src="images/close.png"/></div>
				<div class="tit">长按保存图片到手机</div>
				<img v-bind:src="bigImg" alt="大图" class="big_img"/>
			</div>
		</div>
		
		<mt-datetime-picker
	      ref="picker1"
	      type="date"
	      v-model="value1"
	      v-bind:start-date="startDay"
	      v-bind:end-date="endDay"
	      year-format="{value} 年"
	      month-format="{value} 月"
	      date-format="{value} 日"
	      @confirm="handleChange">
	    </mt-datetime-picker>
	</div>
	
    <link rel="import" href="./modules/_template_script.html?__inline">
    <script type="text/javascript">
    	var app = new Vue({
		  	el: '#app',
			data: {
				is_pop:false,
				show_img:false,
				bigImg:'',
				orderId: 0,
				orderPath: [],
				packageList: [],
				expireTime:0,
				_p:0,
				value1: new Date(2000,0,12),
				startDay:new Date(1960,0,12),
				endDay:new Date(),
				birthday:"",
				user_name:"",
				user_email:"",
				user_telephone:""
			},
			methods: {
				goBack: function() {
					window.history.go(-1);
				},
				cutDownTime:function(){
					var _this=this;
		    		setInterval(function(){
		    			var n=parseInt($("#cutdowntime").data("t"));
		    			n--;
		    			if(n<0){n=0}
		    			$("#cutdowntime").data("t",n);
		    			var showtime=_this.toTime(n);
		    			$("#cutdowntime").text(showtime);
		    		},1000)
		    	},
		    	open:function(picker) {
			        this.$refs[picker].open();
			    },
		    	handleChange:function(value) {
		    		var y=value.getFullYear();
		    		var m=value.getMonth()+1;
		    		var d=value.getDate();
		    		if(m<10){m="0"+m};
		    		if(d<10){d="0"+d};
		    		this.birthday=y+''+m+''+d;
			    },
				toPay:function(){
					var _this=this;
					_this.$indicator.open();
					/**保存用户信息**/
					var saveData={
						order_id:_this.orderId,
						name:$("#name").val(),
						sex:$("input[name='sex']:checked").val(),
						birthday:_this.birthday,
						telephone:$("#telephone").val(),
						email:$("#email").val()
					}
					$.post(API_saveUserInfo,saveData,function(respond){
						_this.$indicator.close();
						if(respond.code==1){
							var goUrl="{:U('Home/Index/pay','','')}/p/"+_this._p;
							location.href=goUrl;
				  		}else{
				  			_this.$toast({
							  message: respond.msg,
							  duration: 2000
							});
				  		}
					})
				},
				refund:function(){
					var _this=this;
					this.$messagebox.confirm("确定要申请退款吗？", '提示').then(function(){
						$.post(API_applyRefund,{order_id:_this.orderId},function(respond){
							if(respond.code==1){
								_this.$toast({
								  message: "退款成功",
								  duration: 2000
								});
							}else{
								_this.$toast({
								  message: respond.msg,
								  duration: 2500
								});
							};
						});
					});;
				},
				toTime:function(time){
		    		var h=parseInt(time/3600);
		    		if(h<10){h="0"+h}
					var m=parseInt((time-h*3600)/60);
					if(m<10){m="0"+m}
					var s=parseInt(time-h*3600)%60;
					if(s<10){s="0"+s}
					return h+":"+m+":"+s;
		    	},
		    	popImg:function(index){
		    		//this.show_img=true;
		    		//this.bigImg=this.orderPath.photos[index];
		    		location.href="./download.html?img="+this.orderPath.photos[index];
		    	}
			},
			filters:{
		    },
			mounted: function() {
				this.orderId = GetQueryString("oid");
			  	var _this=this;
			  	$.post(API_getOrderById,{order_id:_this.orderId},function(respond){
			  		//console.log(respond);
			  		if(respond.code==1){
			  			_this.orderPath=respond.order;
			  			_this.packageList=respond.package_list;
			  			_this.birthday=respond.order.user_birthday==0?'':respond.order.user_birthday;
			  			_this.user_name=respond.order.user_name;
			  			_this.user_telephone=respond.order.user_telephone;
			  			_this.expireTime=respond.order.expire_time;
			  			_this._p=respond.order.p;
			  			_this.cutDownTime();//开始倒计时
			  			if(respond.order.user_sex=="1"){
			  				$("input[name='sex']").get(0).checked=true; 
			  			}else if(respond.order.user_sex=="2"){
			  				$("input[name='sex']").get(1).checked=true; 
			  			}
			  		}else{
			  			_this.$toast({
						  message: respond.msg,
						  duration: 2000
						});
			  		}
			  	});
		  	}
		});
		
    </script>
	</body>
</html>