<!DOCTYPE html>
<html>
	<head>
		<title>订单列表</title>
		<link rel="import" href="./modules/_template_mate.html?__inline">
	</head>
	<body class="page_orderlist">
	<div id="app" v-cloak>
		<mt-navbar v-model="selected">
		  <mt-tab-item id="0" @click.native.prevent="reLoadList">全部订单</mt-tab-item>
		  <mt-tab-item id="1" @click.native.prevent="reLoadList">已付款</mt-tab-item>
		  <mt-tab-item id="2" @click.native.prevent="reLoadList">未付款</mt-tab-item>
		  <mt-tab-item id="3" @click.native.prevent="reLoadList">已退款</mt-tab-item>
		</mt-navbar>
    	<div class="page-loadmore">
		    <div class="page-loadmore-wrapper" ref="wrapper" :style="{ height: wrapperHeight + 'px' }" id="mybox">
		        <ul class="page-loadmore-list">
		          <li v-for="(item,index) in orderList" class="page-loadmore-listitem">
		          	<div class="head">订单号：<span class="t-pro">{{item.order_no}}</span>
		          		<font v-if="item.status==1">已付款</font>
		          		<font v-if="item.status==0">未付款</font>
		          		<font v-if="item.status==2">已退款</font>
		          	</div>
		          	<div class="cont">
		          		<span>客户姓名:</span>{{item.user_name}} <br />
		          		<span>拍摄内容：</span>{{item.product_name}} <br />
		          		<span>拍摄日期：</span><span class="t-pro">{{item.book_date}}</span><br />
		          		<span>拍摄时间：</span><span class="t-pro">{{item.book_time}}</span><br />
		          		<span>门店电话：</span><a href="#" class="t-pro">{{item.user_telephone}}</a>
		          		<div class="imgcell" v-show="item.thumb_photos!=null">
				    		<span>图片下载：</span>
				    		<ul class="imgs">
				    			<li v-for="(citem,cindex) in item.thumb_photos" @click="popImg(index,cindex)"><img src="images/loading.jpg"/></li>
				    		</ul>
				    	</div>
		          	</div>
		          	<div class="foot">
		          		价格：<font class="t-red">￥{{item.order_money}}</font>
		          		<button @click="gotoPay(item.id)">去付款</button>
		          	</div>
		          </li>
		        </ul>
		        <div slot="bottom" class="mint-loadmore-bottom">
		          <span v-show="bottomStatus !== 'end'" :class="{ 'is-rotate': bottomStatus === 'drop' }">↑</span>
		          <span v-show="bottomStatus == 'end'">没有更多了</span>
		        </div>
		    </div>
		</div>
		<div class="img_pop" v-bind:class="{show:show_img}">
			<div class="cont">
				<div class="close" v-on:click="{show_img=false}"><img src="images/close.png"/></div>
				<div class="tit">长按保存图片到手机</div>
				<img v-bind:src="bigImg" alt="大图" class="big_img"/>
			</div>
		</div>
	</div>
    
    <link rel="import" href="./modules/_template_script.html?__inline">
    <script type="text/javascript">
    	var app = new Vue({
			el: '#app',
			data: {
				nums: [1, 2, 3, 4, 5, 6],
				active: 'tab-container1',
				selected: '0',
				navList: [{ "type": "type_99", "url": API_getOrders+"?status=all" },
					{ "type": "type_1", "url": API_getOrders+"?status=1"},
					{ "type": "type_0", "url": API_getOrders+"?status=0" },
					{ "type": "type_2", "url": API_getOrders+"?status=2" }
				],
				list: [],
				orderList: [],
				allLoaded: false,
				bottomStatus: '',
				wrapperHeight: 0,
				fetchError: null,
				isReload: true,
				page: 1,
				totalPage:1,
				scrolled: false,
				isLoading: true,
				show_img:false,
				bigImg:'images/loading.jpg'
			},
			components: {},
			methods: {
				fetchData:function(url) {
					var self = this;
					$.get(url,function(respond){
						if(respond.code == 1) {
							if(self.isReload == true) {
								document.getElementById("mybox").scrollTop = 0;
								self.orderList = []; //清空列表
								self.orderList = self.orderList.concat(respond.list);
								self.isReload = false;
							} else {
								self.orderList = self.orderList.concat(respond.list);
							}
							if(self.page>=respond.total_page){
								self.isLoading = false;
								self.bottomStatus = "end";
								console.log(self.bottomStatus)
							}else{
								self.isLoading = true;
								self.bottomStatus = "";
							}
						}
					});
				},
				reLoadList:function(status) {
					this.isReload = true;
					this.page=1;
					this.fetchData(this.navList[this.selected].url+"&page=1");
				},
				addList:function() {
					this.fetchData(this.navList[this.selected].url);
				},
				gotoPay:function(oid){
					window.location.href="./orderdetail.html?oid="+oid;
				},
		    	popImg:function(a,b){
		    		this.show_img=true;
		    		this.bigImg=this.orderList[a].photos[b];
		    	}
			},
			mounted:function() {
				this.wrapperHeight = document.documentElement.clientHeight - this.$refs.wrapper.getBoundingClientRect().top;
				var scrollBox = document.getElementById("mybox");
				var _this = this;
				scrollBox.onscroll = function() {
					if(scrollBox.scrollTop >= scrollBox.childNodes[0].scrollHeight - scrollBox.clientHeight && _this.isLoading) {
						_this.isLoading = false;
						_this.bottomStatus = "drop";
						setTimeout(function() {
							_this.page++;
							_this.fetchData(_this.navList[_this.selected].url+"&page="+_this.page);
						}, 500);
					}
				}
			},
			created:function() {
				this.fetchData(this.navList[this.selected].url);
			}
		})
    </script>
	</body>
</html>