/* 公共样式 */

@c_green : #5ca89f;  //主色调，深绿
@c_gray : #a5a5a5;
@c_deepgray : #5a5a5a;
@c_red : #aa3838;

@f_50:50/75rem;
@f_40:40/75rem;
@f_36:36/75rem;
@f_32:32/75rem;
@f_30:30/75rem;
@f_24:24/75rem;
@f_18:18/75rem;